aws_region  = "ap-south-1"
aws_profile = "nilkanthaws9"

cluster_name       = "jerney-eks-dev"
environment        = "dev"
cluster_version    = "1.35"

vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.0.0/24", "10.0.1.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]
az_count             = 2 # NAT gateways scale with AZ count

node_instance_types = ["t3.medium"]
capacity_type       = "SPOT"
min_node_count      = 3
max_node_count      = 5
disk_size_gb        = 30

endpoint_public_access = true

# we can add office ip here to restrict access
public_access_cidrs    = ["0.0.0.0/0"]
