aws_region  = "ap-south-1"
aws_profile = "nilkanthaws9"

cluster_name       = "jerney-eks-prod"
environment        = "prod"
kubernetes_version = "1.35"

vpc_cidr             = "10.2.0.0/16"
public_subnet_cidrs  = ["10.2.0.0/24", "10.2.1.0/24"]
private_subnet_cidrs = ["10.2.10.0/24", "10.2.11.0/24"]
az_count             = 2

node_instance_types = ["t3.large"]
capacity_type       = "ON_DEMAND"
min_node_count      = 3
max_node_count      = 8
disk_size_gb        = 50

endpoint_public_access = true
domain_name            = "*.nilkanthprojects.site"
acm_certificate_arn    = "arn:aws:acm:ap-south-1:310318659882:certificate/9144a150-f7ed-4286-8e3d-18e81950e4ee"

recovery_window_in_days = 0

gitops_repo_url        = "https://github.com/NilkanthMiyani/jerney-eks.git"
gitops_target_revision = "main"
gitops_apps_path       = "k8s-eks/apps/prod"

# Secrets should be injected via environment variables (TF_VAR_postgres_password) or secrets.auto.tfvars
postgres_password      = "<YOUR_POSTGRES_PASSWORD_HERE>"
grafana_admin_password = "<YOUR_GRAFANA_PASSWORD_HERE>"
alertmanager_smtp_key  = "<YOUR_SMTP_KEY_HERE>"
